-content_for(:head) do
  = javascript_include_tag 'common'
  = javascript_include_tag 'live-comment-preview'

- content_for(:page_title) do
  = post_title(@post)

.entry.post{:class => "post-#{@post.id}"}
  = render :partial => 'posts/post', :locals => {:post => @post}

.commentsblock
  %ol.commentlist
    -@post.approved_comments.each do |comment|
      %li{:class => cycle('alt',''), :id=> "comment-#{comment.id}"}
        = render :partial => 'comments/comment', :locals => {:comment => comment}


  
  :javascript
    var idcomments_acct = '7afed296a639a451a3f22b9175139517';
    var idcomments_post_id;
    var idcomments_post_url;
  %span#IDCommentsPostTitle{:style=>"display:none"}
  %script{:type=>'text/javascript', :src=>'http://www.intensedebate.com/js/genericCommentWrapperV2.js'}
