<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

%html
  %head
    %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %title= yield(:page_title) || config[:title]
    
    = stylesheet_link_tag 'main','syntax'
    = javascript_include_tag 'jquery-1.2.1.js'
    = open_id_delegation_link_tags(config[:open_id_delegation, :server], config[:open_id_delegation, :delegate]) if config[:open_id_delegation]
    = yield(:head)

  %body
    #wrap
      #header
        .title
          %a{:href=>"/"}= image_tag 'head.png'

      #content
        = yield
    
      #sidebar
        %form{:method=>"get", :id=>"sform", :action=>"http://www.google.com/search"}
          %input{:type=>"text", :id=>"q", :value=>"", :name=>"q"}
          %input{:type=>"hidden", :name=>:sitesearch, :value=>config[:url]}
        
        %h2 Pages
        %ul
          -page_links_for_navigation.each do |link|
            %li= link_to(link.name, link.url)
        -unless category_links_for_navigation.empty?
          %h2 Categories
          %ul
          -category_links_for_navigation.each do |link|
            %li= link_to(link.name, link.url)
            
        = yield(:sidebar)
        
        %ul
          %a{:href=>"http://feeds.feedburner.com/Smartbomb"}
            %img{:src=>"http://feeds.feedburner.com/~fc/Smartbomb?bg=99CCFF&amp;fg=444444&amp;anim=0", :height=>"26", :width=>"88", :style=>"border:0", :alt=>""}
            
        -#=render :partial => 'layouts/flickr'
        -#=render :partial => 'layouts/lastfm'

    #footer
      = config[:title]
      &#169;
      = config[:author, :name]
      &middot;
      Valid
      %a{:href=>"http://validator.w3.org/check?uri=referer"} XHTML
      and
      =link_to "ATOM", "http://feedvalidator.org/check.cgi?url=#{config[:url]}/posts.atom"
      &middot;
      Powered by 
      %a{:href=>"http://www.enkiblog.com", :title=>"A ruby on rails blogging app for the fashionable developer"} Enki
      
      
  %script{:src=>"http://www.google-analytics.com/urchin.js", :type=>"text/javascript"}
  %script{:type=>"text/javascript"}
    _uacct = "UA-1843540-3";
    urchinTracker();